.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style: none;
  gap: 8px;
}

.menu__link {
  display: flex;
  text-decoration: none;
  padding: 0 16px;
  height: 40px;
}

.menu__link-name {
  margin: 0;
  align-content: center;
}

.menu__link_copmany {
  background-image: url(../../assets/images/icon-company.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.menu__link_projects {
  background-image: url(../../assets/images/icon-projects.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.menu__link_catalogs {
  background-image: url(../../assets/images/icon-catalogs.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.menu__link_settings {
  background-image: url(../../assets/images/btn-burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.menu:first-of-type {
  margin-top: 4px;
}
